/* tools */
.tools{ position:fixed; bottom:0; opacity:0.6;}
.dropdown-menu bottom{ width:34px; height:30px; display:inline-block; text-align:center; font-size:12px; line-height:32px; background:#efe4b0;}
.dropdown-menu bottom.active{ background:#F0C676;}


/* fk_container */
#fk_container {
    background: #ededed;
    color: #000;
    position: fixed;
    z-index:99999;
    padding: 0;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    height: 240px;
    text-align:center;
    display:none;
}